

.title {
      text-align: center;
      font-size: 100px;
      margin-top: 15px;
      color: #336699;
}
.title p {
  color: orange;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  margin-left: 200px;
  margin-right: 200px;

}
@font-face {
    font-family: Orangejuice;
    src: url(https://www.dafont.com/orange-juice.font);

}

@font-face {
    font-family: Doctor-soos;
    src: url(https://www.dafont.com/doctor-soos.font);

}

div {
    font-family: Orangejuice;


  }

.container {
font-size: 100px;
padding-top: 180px;
padding-bottom: 200px;

}

ul {
list-style: none;
}

text {
  color: orange;

}


.maintext {
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
  margin-bottom:10px;
}


h3{
  font-family: Orangejuice;
  margin-top: 15px;
  color: rgb(83, 88, 98);
  font-size: 50px;

}

.maintext-text h2{
  font-family: sans-serif;
  margin-top: 25px;
  color: orange;
  font-weight: bold;
}

span {
font-family: Orangejuice;
font-size: 70px;
font-weight: lighter;
color: orange;
}
.maintext p {
  font-family: sans-serif;
  color: orange;

}


.maintext article {
  font-family: sans-serif;
  display: inline-block;
  vertical-align: middle;
  width: 200px;
  height: 75px;
  margin-top: 20px;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 250px;
  border: 3px;
  text-align: center;
}
