
<div class="whatcan">
    <div class="what"></div>
    <div class="what-text">
    <h2> Start coding and discover how many dreams you can come true</h2>
    <p> Coding will give you the tools to create all you can imagine. Come to learn a new language to develop projects with people across the worldT </p>
  </div>

  <article>
    <img src="https://cdn.shopify.com/s/files/1/1061/1924/files/Rocket_Emoji.png?9898922749706957214"width="105px;">
    <h3>Find</h3>
    <p>Films, books, and figures who inspires you to unfold your own coding path"

  </article>

  <article>
    <img src="http://s3.amazonaws.com/pix.iemoji.com/images/emoji/apple/ios-11/256/woman-teacher.png"width="105px;">
    <h3>Discover</h3>
    <p>Women who made it before and will mentor you along your own way</p>
  </article>

  <article>
    <img src="https://cdn.shopify.com/s/files/1/1061/1924/products/Emoji_Earth_Globe_Europe_Africa_large.png?v=1480481025"width="100px;">
    <h3>Build</h3>
    <p>Projects to change the world for better</p>
  </article>
