
<div class="title">
<img src="http://praktika.ho.ua/saturn.png" width="100px;">
<a>WonderCode</a>
<img src="http://praktika.ho.ua/saturn.png" width="100px;">
<p>The site for <br>adventurous, <br>intrepid, <br>bold, <br><span style="color:orange;font-weight:bold,font-family:Orangejuice">smart girls</span> <br>who want to explore, discover, find inspiration, and change the world.</p>
  </div>

<div class="maintext">
    <div class="maintext"></div>
    <div class="maintext-text">
    <h2 class="text" style="color:#336699">Code is the tool you need to create all you can imagine. </h2>
    

  <article>
    <img src="https://cdn.shopify.com/s/files/1/1061/1924/files/Rocket_Emoji.png?9898922749706957214"width="105px;">
    <h3 class="text" style="color:#336699">Explore</h3>
    <p class="text" style="color:#336699">Films, books, and figures who inspire you to unfold your own coding path</p>

  </article>

  <article>
    <img src="http://s3.amazonaws.com/pix.iemoji.com/images/emoji/apple/ios-11/256/woman-teacher.png"width="105px;">
    <h3 class="text" style="color:#336699">Discover</h3>
    <p class="text" style="color:#336699">Women who made it before and will mentor you along your own way</p>
  </article>

  <article>
    <img src="https://cdn.shopify.com/s/files/1/1061/1924/products/Emoji_Earth_Globe_Europe_Africa_large.png?v=1480481025"width="100px;">
    <h3 class="text" style="color:#336699">Find</h3>
    <p class="text" style="color:#336699">Inspiration to change the world for the better</p>
  </article>
