
<div class="container" *ngIf="user">

  <ul>

<li><a [routerLink]="['/sources']" [queryParams]="{ type: 'films' }" class="text" style="color:lightblue">FILMS</a></li>
<li><a [routerLink]="['/sources']" [queryParams]="{ type: 'figures' }" class="text" style="color:orange">FIGURES</a></li>
<li><a [routerLink]="['/sources']" [queryParams]="{ type: 'books' }"class="text" style="color:#336699">BOOKS</a></li>
 <li><a [routerLink]="['/sources']" [queryParams]="{ type: 'mentors' }"class="text" style="color:lightpink">MENTORS</a></li>
<li><a [routerLink]="['/sources']" [queryParams]="{ type: 'quotes' }"class="text" style="color:lightorange">QUOTES</a></li>

  </ul>
</div>
