
<div class="container">
  <ul>

<li><a [routerLink]="['/sources']" [queryParams]="{ type: 'films' }" class="text" style="color:yellow">FILMS</a></li>
<li><a [routerLink]="['/sources']" [queryParams]="{ type: 'figures' }" class="text" style="color:turquoise">FIGURES</a></li>
<li><a [routerLink]="['/sources']" [queryParams]="{ type: 'books' }"class="text" style="color:lightgreen">BOOKS</a></li>
<li><a [routerLink]="['/sources']" [queryParams]="{ type: 'mentors' }"class="text" style="color:violet">MENTORS</a></li>
  </ul>
</div>
