body {
  font-family: "Orange juice";
  font-weight: lighter;
  font-size: 2000px;
  margin: 0px;
  padding: 0px;
}

a {
    text-align: center;
}
p {
  color: rgb(230, 0, 92);
  font-size: 50px;
  text-align: center;

}
@font-face {
    font-family: Orangejuice;
    src: url(https://www.dafont.com/orange-juice.font);
}

div {
    font-family: Orangejuice;
  }

.container {
font-size: 100px;
padding-top: 45px;
padding-bottom: 200px;

}

ul {
list-style: none;
}

text {
  color: rgb(230, 0, 92);
}
