<div class="d-inline bg-success">Inline</div>
<div class="d-inline bg-success">Inline</div>

img {
  margin-bottom:40px;
  width: 200px;
}


.row {
margin-top: 20px;
margin-bottom: 60px;
}


h2{
  color: #336699;
}

h3 {
 color: orange;
}


h4{
margin-top: 30px;
margin-bottom: 40px;
text-align: justify;
color: #336699;
}
