<div *ngIf="source">
  <div class="source-thumbnail">
<img src="http://t3.gstatic.com/images?q=tbn:ANd9GcSWuhJZosAINTA9iDAmdVUSEJGCXsyckZEdHvVPp76wvPmVY0rN"width="50px;">
  </div>

  <div class="source-info">
    <h2> {{ source.name }}</h2>
    <h3> {{ source.text }} </h3>
    <h4> {{ source.description }} </h4>

    <button class="btn btn-danger" (click)="onClickDelete()">Delete</button>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-xs-5 col-sm-offset-0">

    <form (ngSubmit)="onSubmitSource(sourceForm)" #sourceForm="ngForm">
      <div class="form-group" [class.has-error]="image.errors && image.touched">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-fire"></i>
          </span>
          <input type="text" name="image" class="form-control" placeholder="Image" [(ngModel)]="source.image" #image="ngModel" required>
        </div>
        <label class="control-label" *ngIf="image.errors && image.touched">
          <ul>
            <li *ngIf="image.errors.required">Required</li>
          </ul>
        </label>
      </div>

      <div class="form-group" [class.has-error]="name.errors && name.touched">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-tag"></i>
          </span>
          <input type="text" name="name" class="form-control" placeholder="Name" [(ngModel)]="source.name" #name="ngModel" required>
        </div>
        <label class="control-label" *ngIf="name.errors && name.touched">
          <ul>
            <li *ngIf="name.errors.required">Required</li>
          </ul>
        </label>
      </div>

      <div class="form-group" [class.has-error]="text.errors && text.touched">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-tag"></i>
          </span>
          <input name="text" type="text" text="text" class="form-control" placeholder="Text" [(ngModel)]="source.text" #text="ngModel" required>
        </div>
      </div>

      <div class="form-group" [class.has-error]="description.errors && description.touched">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-tag"></i>
          </span>
          <input name="description" type="description" #description class="form-control" placeholder="Description" [(ngModel)]="source.description" required>
        </div>
      </div>

      <div class="form-group" class="has-error" *ngIf="apiError">
        <label class="control-label">
          {{ apiError }}
        </label>
      </div>

      <div class="form-actions">
        <button type="submit" class="btn btn-block btn-warning"
        [disabled]="!sourceForm.valid">Add Source</button>
      </div>
    </form>
  </div>
</div>
